/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;700&display=swap'); */
#root {
    --primary-color: #0e7490;
    --secondary-color: #d4d4d8;
}

.header {
    padding: 0.3rem;
    height: 4rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

img {
    width: 45%;
    height: 45%;
}