/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;700&display=swap'); */

#root {
    --primary-color: #0e7490;
    --secondary-color: #d4d4d8;
}

.home {
    height: 100%;
    width: 100%;

    display: block;
    color: var(--primary-color);
    background-color: var(--secondary-color);

}