.container {
    max-width: 130rem;
    padding: 0 3.2rem;
    margin-left: 6rem;
    margin-right: 5rem;
}

p {
    color: black;
    font-size: 10px;
}

.grid {
    display: grid;
    gap: 9rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
    grid-template-columns: 1fr 1.2fr .5fr .8fr;
}

.grid-five-column {
    grid-template-columns: repeat(5, 1fr);
}