.grid-four-column {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

main-screen {
    display: grid;
    place-items: center;
    order: 1;
}


.grid {
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    /* order: 2; */
}